<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Dedicated to Video Game and Movies. CineGameSpot has Reviews, News, Walkthroughs, Tips, Tools and more.">
    <title>CineGameSpot</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />

    <script src="https://kit.fontawesome.com/13471d8c05.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header class="headerContainer">
        <div class="logo">
          <!-- <a class="fa-solid fa-bars"></a> -->
          <a id="logo" href="/feed"><img src="/imgs/logoWhiteText.png" alt="logo"></a>
        </div>
        

        <div class="searchBarContainer">
          <input class="searchBar" type="text" placeholder="Search..">
          <a class="fa-solid fa-magnifying-glass"></a>
        </div>

        <div class="navContainer">
          <ul>
            <li><a href="#">Gaming</a></li>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">Shows</a></li>
          </ul>
        </div>
        
        <a class="fa-regular fa-circle-user"></a>
    </header>
  </body>
</html>
