<%- include('partials/header') -%>

<main class="container">
    <!-- <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div> -->
    <div id="frontTopNews">
        <section>
            <h1>CineGameSpot</h1>
            <h2>Your One Stop Shop for Movie and Game Reviews</h2>
            <span>Site Currently Under Construction</span>
            <span class="fa-solid fa-person-digging"></span>
        </section>
    </div>

    <div id="frontMidNews"></div>
</main>
    

<%- include('partials/footer') -%>